<form action="/movie">

<p>
<label for="movie_title">Search again:</label>
    <input name="movie_title" id="movie_title" placeholder="Type here">
    <button>SEARCH</button>
</p>

</form>

<div id="poster">
<img src="<%= @movie_data['Poster'] %>">
</div>












