<form action="user_journey" class="journey">
    
<h3>Select your starting point:</h1>   
<p>
    <label for="n_line_start">N Line Stations: 
    <select name="n_line_start" id="n_line_start">
        <option value="Times Square">Times Square</option>
        <option value="34th">34th</option>
        <option value="28th">28th</option>
        <option value="23rd">23rd</option>
        <option value="Union Square">Union Square</option>
        <option value="Astor Place">Astor Place</option>
    </select></label>
</p>

<h3>Select your destination:</h1>   
<p>
    <label for="n_line_destination">N Line Stations: 
    <select name="n_line_destination" id="n_line_destination">
        <option value="Times Square">Times Square</option>
        <option value="34th">34th</option>
        <option value="28th">28th</option>
        <option value="23rd">23rd</option>
        <option value="Union Square">Union Square</option>
        <option value="Astor Place">Astor Place</option>
    </select></label>
</p>

<button class="submit">SUBMIT</button>

</form>