<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MTA Lab 2</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <%= yield %>
</body>
</html>