<div class="search_again">
    <%= erb :search, :layout => false %>

<div class="result">
    <h2><span><%= @movie_data['Title'] %></span></h2>
    <img src="<%= @movie_data['Poster'] %>">
</div>


</div>

