<form action="/poster">
    <div class="label">
        <label for="film">Film</label>
        <input type="text" id="film" name="film" placeholder="Enter the film name" required>
        <button type="submit">view poster</button>
    </div>
</form>