<!--skin-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Movie Searcher 3000</title>
</head>
<body>
    <div class="container">
        <img src="/images/1027607-harvey_birdman_wii.png">
        <%=yield%>   
    </div>
</body>
</html>