<html>
  <head>
    <title>Stock Lookup Tool</title>
    <link rel="stylesheet" href="/stock.css">
    <link href='http://fonts.googleapis.com/css?family=Forum|Roboto+Condensed' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>