<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>A --> B</title>
</head>
<body>
    <div class="container">
        <%=yield%>        
    </div>
</body>
</html>