<h1>Listing Authors</h1>

<% @authors.in_groups_of(3) do |author| %>
  <div class="row">
    <% author.compact.each do |author| %>
      <div class="col-md-4">
        <%= image_tag author.image, width: '100%' if author.image.present?%>
        <h4><%= link_to author.name, author %></h4>
        <p>Nationality: <%= author.nationality %></p>
        <p>Date of Birth: <%= author.dob.strftime('%A %B %e, %Y') %></p>
      </div>
    <% end %>
  </div>
<% end %>