<h1>Authors</h1>

<% @authors.each do |author| %>
  <%= image_tag(author.image, :class => 'thumb') %>
  <ul>
    <li>Name: <%= link_to(author.name, author) %></li>
    <li>Nationality: <%= author.nationality %></li>
    <li>Date of Birth: <%= author.dob.strftime('%A %B %e, %Y') %></li>
  </ul>
<% end %>