<form action="/oceans" method="post">
  <label for="name">Name: </label>
  <input id="name" name="ocean[name]" autofocus>

  <label for="image">Image: </label>
  <input type="url" id="image" name="ocean[image]">

  <label for="area">Area: </label>
  <input type="number" id="area" name="ocean[area]">

  <label for="depth">Deepest point: </label>
  <input type="number" id="depth" name="ocean[depth]">

  <label for="mean_depth">Mean-depth: </label>
  <input type="number" id="mean_depth" name="ocean[mean_depth]">

  <button>Create ocean</button>
</form>
