%h1 Secret List Of Users

- @users.in_groups_of(3) do |user|
  .row
    - user.compact.each do |user|
      .col-md-4
        .user_index
          %h2= link_to(user.name, user)
          = link_to(image_tag(user.image), user)
