<h1><%= @user.name %></h1>

<p>
  <%= link_to 'Edit user', edit_user_path(@user) %>
  <%= link_to 'Delete user', @user, :method => 'delete', :data => { :confirm => "Are you sure? "} %>
</p>

<p>
    <%= image_tag @user.image, :class => 'portrait' %>
</p>
