<h2>Thank You</h2>

Info received!!! Add more receipts if you like?

<!-- this is a partial,  -->

<%= erb :form, :layout => false %>

<!-- when it's a view within a view you don't need the layout again -->