<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Poster Finder</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/forms.css">
</head>
<body>

    <h1>Movie Poster Finder</h1>
    
    <div class="container">
        <%= yield %>
    </div>

</body>
</html>