<div class="result">
   <h2><%= @movie_data['Title'] %>, <%= @movie_data['Year'] %></h2>
   <img src="<%= @movie_data['Poster'] %>"> 
</div>

<div class="search_again">
    <%= erb :search, :layout => false %>
</div>
