<h2>Books</h2>
<div class="book">
  <% @books.each do |book| %>
    <div class="book-img">
      <%= link_to(image_tag(book.image, :class => 'thumb-book'), book) %>
    </div>
    <div class="book-info">
      <ul>
        <li>Title: <%= link_to(book.title, book) %> </li>
        <% if book.author %>
          <li>Author: <%= book.author.name %> </li>
        <% end %>
        <li>Year: <%= book.year %></li>
      </ul>
    </div>
  <% end %>
</div>

