<h2>New video</h2>

<form action="/videos" method="post">

    <label for="title">Title</label>
    <input id="title" name="title">

    <label for="genre">Genre</label>
    <input id="genre" name="genre">

    <label for="description">Description</label>
    <input id="description" name="description">

    <label for="link">Link</label>
    <input id="link" type="url" name="link">

    <input type="submit" value="Create video">

</form>