
<form action="/videos" method="post">

    <label for="title">Title</label>
    <input id="title" name="title" placeholder="Enter title">

    <label for="genre">Genre</label>
    <input id="genre" name="genre" placeholder="Enter genre">

    <label for="description">Description</label>
    <input id="description" name="description" placeholder="Enter description">

    <label for="link">Link</label>
    <input id="link" type="url" name="link" placeholder="Enter YouTube URL">

    <input type="submit" value="Create video">

</form>