<h1>Magic 8-Ball</h1>
<h2>Ask a question?</h2>
<p><%= @answer %></p>
<!-- <form action="/answer" class="magic-eight-form">
    <div>
        <label for="question">Question?</label>
        <input type="text" name="question" value="question">
        <button type="submit">Shake!</button>
    </div>
</form> -->