<div class="hero">
    <header id="header" class="">
        <h1>Carnival Games</h1>
    </header>
</div>
<div class="games">
    <div class="game">
        <a href="/magic_eight" class="btn-game">Magic 8-Ball</a> 
    </div>
    <div class="game">
        <a href="/secret_number" class="btn-game">Secret Number</a>
    </div>
    <div class="game">
        <a href="/rock_paper_scissors" class="btn-game">Rock Paper Scissors</a>
    </div>
</div>