<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Carnival Games</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/animate.css">
    </head>
    <body>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>