<h1>Magic 8-Ball</h1>
<h2>Ask a question?</h2>
<form action="/answer" class="magic-eight-form">
    <div>
        <label for="question">Question?</label>
        <input type="text" id="question" name="question" placeholder"Ask a question" required>
        <button type="submit" class="animated shake">Shake!</button>
    </div>
</form>