<div>
<p><%= @user_throw == @program_throw %></p>
<!--     <% if @user_throw == "rock" %>
        <% if @user_throw && (@program_throw == "paper") %>
            <p>"You lose!"</p>
        <% elsif @user_throw && (@program_throw == "rock") %>
            <p>"Draw"</p>
        <% elsif @user_throw && (@program_throw == "scissors") %>
            <p>"You win"</p>
        <% end %>
    <% elsif @user_throw == "paper" %>
        <% if @user_throw && (@program_throw == "scissors") %>
            <p>"You lose!"</p>
        <% elsif @user_throw && (@program_throw == "paper") %>
            <p>"Draw"</p>
        <% elsif @user_throw && (@program_throw == "rock") %>
            <p>"You win"</p>
        <% end %>
    <% elsif @user_throw == "scissors" %>
        <% if @user_throw && (@program_throw == "rock") %>
            <p>"You lose!"</p>
        <% elsif @user_throw && (@program_throw == "scissors") %>
            <p>"Draw"</p>
        <% elsif @user_throw && (@program_throw == "paper") %>
           <p>"You win"</p>
        <% end %>
    <% end %> -->
</div>