<h1>Secret Number</h1>
<div class="draw-cards">
    <h2>Which number am I thinking of?</h2>
    <% @numbers.each do |number| %>
        <div class="cards"><a href="/guess/<%= number %>"><%= number %></a></div>
    <% end %>
</div>