<div class="input">
<p><%= "You are travelling from #{ @current_station } station on Line #{ @current_line }, to #{ @destination_station } station on Line #{ @destination_line }." %></p>

<p><%= @change_lines %></p>

<p><%= "You will pass #{ @number_of_stops } stations before you arrive at #{@destination_station} station on Line #{ @destination_line }." %></p>

<p><%= "Your journey will encompass the following stops: #{ @stops }" %></p>
</div>