<form action="directions">
    <div class="input">
        <p>
            <label for="title">Current Station: </label>
            <select name="current">
                <optgroup label="Line N">
                    <option value="N-8th">8th</option>
                    <option value="N-Union Square">Union Square</option>
                    <option value="N-23rd">23rd</option>
                    <option value="N-28th">28th</option>
                    <option value="N-34th">34th</option>
                    <option value="N-Times Square">Times Square</option>
                </optgroup> 
                <optgroup label="Line L">
                    <option value="L-1st">1st</option>
                    <option value="L-3rd">3rd</option>
                    <option value="L-Union Square">Union Square</option>
                    <option value="L-6th">6th</option>
                    <option value="L-8th">8th</option>    
                </optgroup>
                <optgroup label="6 Line">
                    <option value="6-Astor Place">Astor Place</option>
                    <option value="6-Union Square">Union Square</option>
                    <option value="6-23rd">23rd</option>
                    <option value="6-28th">28th</option>
                    <option value="6-33rd">33rd</option>
                    <option value="6-Grand Central">Grand Central</option>
                </optgroup>
            </select>    
        </p>
        <p>
            <label for="title">Destination Station: </label>
            <select name="destination">
                 <optgroup label="Line N">
                    <option value="N-8th">8th</option>
                    <option value="N-Union Square">Union Square</option>
                    <option value="N-23rd">23rd</option>
                    <option value="N-28th">28th</option>
                    <option value="N-34th">34th</option>
                    <option value="N-Times Square">Times Square</option>
                </optgroup> 
                <optgroup label="Line L">
                    <option value="L-1st">1st</option>
                    <option value="L-3rd">3rd</option>
                    <option value="L-Union Square">Union Square</option>
                    <option value="L-6th">6th</option>
                    <option value="L-8th">8th</option>    
                </optgroup>
                <optgroup label="6 Line">
                    <option value="6-Astor Place">Astor Place</option>
                    <option value="6-Union Square">Union Square</option>
                    <option value="6-23rd">23rd</option>
                    <option value="6-28th">28th</option>
                    <option value="6-33rd">33rd</option>
                    <option value="6-Grand Central">Grand Central</option>
                </optgroup>
            </select>    
        </p>
        <button>Get Directions</button>    
    </div>  
</form>