<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Open Movie Database</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="basic-grey">
  <%= yield %>
</body>
</html>
