<form action="multiple">
  <div class="form-group">
    <p>
        <label for="title">Movie Title</label>
        <input type="search" class="form-control" id="title" placeholder="Goodfellas">
    </p>
    <button type="button" class="btn btn-primary btn-lg active">Find movie</button>
  </div>
</form>
