<h1>Welcome to puppy school! Here, we have taught our students some tricks that are worth writing home about</h1>

<h2> Please pick a game to play with your puppy </h2>

<ul>
    <li>
        <a href="/magic8ballhome">Magic 8 Ball</a>
    </li>
    <li>
        <a href="/secretnumberhome">Secret Number</a>
    </li>
    <li>
        <a href="/rockpaperscissorshome">Rock Paper Scissors</a>
    </li>
</ul>


