<p class="greeting"> 
    I was expecting you human... Well go on! Don't just gawp at me. Ask me a question!
</p>

<form class="question" action="/magic8ballanswer">
    <p><label for="response" > <strong>What is on your mind? </strong></label></p>
    <p><textarea name="response" id="response" cols="30" rows="5" placeholder="Enter your question here" required></textarea></p>
    <p><button>Ask Dr. Strangepup</button></p>
</form>