<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/magic8ballstyle.css">
    <title>Ask Dr. Strangepup</title>
</head>
<body>
    <div class="container">
        <%=yield%>
    </div>
    
</body>
</html>