<p class="greeting"><%=@outcome%></p>

<form class="question" action="/magic8ballanswer">
    <p><label for="response" > <strong>Ask again? </strong></label></p>
    <p><textarea name="response" id="response" cols="30" rows="5" placeholder="Enter your question here" required></textarea></p>
    <p><button>Ask Dr. Strangepup</button></p>
</form>