<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/rockpaperscissorsstyle.css">
    <title>RockPaperScissors</title>
</head>
<body>
    <%=yield%>
</body>
</html>