<h2>Welcome to Rock Paper Scissors, or as I like to call it, Paper Scissors Rock</h2>

<p> Please pick your weapon of mass distruction </p>

<form action="/rockpaperscissorsthrow">
    <p><label for="Rock"></label></p>
    <p><input id="throw" type="radio" name="throw" value="Rock">Rock</p>
    
    <p><label for="Paper"></label></p>
    <p><input id="throw" type="radio" name="throw" value="Paper">Paper</p>

    <p><label for="Scissors"></label></p>
    <p><input id="throw" type="radio" name="throw" value="Scissors">Scissors</p>
    <p><button>Unleash fury</button></p>
</form>