<h2 class="instruction"> Guess what number I am thinking of</h2>

<form action="/secretnumberguess">
    <p>
        <label for="number_guess">Enter Guess</label>
    </p>

    <p>
        <input type="text" name="number_guess" id="number_guess" placeholder="e.g. 5" required autofocus>
    </p>

    <p>
        <button>Check Guess</button>
    </p>

</form>

