<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret Number</title>
    <link rel="stylesheet" href="/css/secretnumberstyle.css">
</head>
<body>

    <%=yield%>
</body>
</html>