<html>
  <head>
    <title>Stock Lookup</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css" >
  </head>

  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>