body {
    font-family: sans-serif;
    max-width: 960px;
    margin: 0 auto;
    border: 5px dotted white;
    padding: 10px 10px 20px 10px;
    text-align: center; 
    background-image: url("http://gp1.wac.edgecastcdn.net/802892/production_public/Artist/1011111/image/r7bjjznc.jpg");  
    color: white;
}

header { 
max-width: 960px; }

h4 { 
max-width: 600px; 
}



/*header {
    background-color: slategray;
    padding: 20px;

}*/

pre { 
max-width: 960px; }

