<h2>Authors</h2>

<% @authors.each do |author| %>

    <%= image_tag(author.image, :class => 'thumb') %>
    
    <ul>
        <li>Name: <%= link_to(author.name, author)%></li>
        <li>Nationality: <%= author.nationality%></li>
        <li>DOB: <%= author.dob.strftime('%B %e, %Y') if author.dob%></li>
    </ul>

<% end %>

