@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);

 /*save this for the error message screen! http://www.stockfreeimages.com/15618007/Watching-3D-Movie.html*/



body {
  font-family: 'Asap', sans-serif;
  background-image: url("http://ec.pond5.com/s3/012604051_prevstill.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  width: 960px;
  margin: auto;
  text-align: center;
   margin-top: 45px;
}

#info_box {
  width: 600px;
  margin: auto;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 150px;
}


/*make this look like a plaque*/
#info_box p em{
  font-size: 20px;
}

#info_box p{
  background-color: rgb(174, 159, 149);
  border: 5px solid gray;
  padding: 15px 0 15px 0;
}

#search_box {

  text-align: center;
  margin: auto;
  margin-top: 150px;
  border: 6px solid gray;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  background-color: rgba(174, 159, 149, 0.98);
}

#search_box #content {
  position: relative;
  top: 90px;
}

#search-results {
  background-color: rgba(174, 159, 149, 0.98);
  text-align: center;
  width: 960px;
  margin: auto;
  margin-top: 200px;
  border-radius: 5px;
  border: 6px solid gray;
}