<form action="request">
    <div class="input">
        <p>
            <label for="title">Movie Title</label>
            <input type="search" name="title" id="title" placeholder="Enter the movie title">
        </p>
        <button>Go get em...</button>    
    </div>  
</form>