<div class="rows">
  <p class="text"><%= @question %></p>
</div>

<div class="rows">
  <ul class="buttons">
    <a class="yes btn-large btn-success" href="/<%= @yes %>">Yes</a> <a class="no btn-large btn-danger" href="/<%= @no %>">No</a>
  </ul>
</div>