<h2>New Tube</h2>

<form action="/memetube" method="post">
    <label for="title">Title: </label>
    <input id="title" name="title">

    <label for="description">Description: </label>
    <input id="description" name="description">

    <label for="url">URL: </label>
    <input id="url" name="url" type="url">

    <label for="genre">Genre: </label>
    <input id="genre" name="genre">

    <input type="submit" value="Create Tube">
</form>