<!-- Fixed Height Image Aside -->
<aside class="image-bg-fixed-height-min"></aside>

<!-- Content Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading">About Us</h1>
                <p class="lead section-lead">OMDB Lookup is a service built on the OMDB API to help users track their searches.</p>
                <p class="section-paragraph">The site has been built using Ruby, Sinatra, SQLite3 and ActiveRecord. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae accusamus, est laborum odit expedita minima quod rerum maiores cupiditate minus maxime, inventore ipsa et eum natus voluptatum nemo praesentium architecto!</p>
                <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae accusamus, est laborum odit expedita minima quod rerum maiores cupiditate minus maxime, inventore ipsa et eum natus voluptatum nemo praesentium architecto!</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>