<!-- Fixed Height Image Aside -->
<div class="image-bg-fixed-height-max">

  <!-- Content Section -->
  <section>
    <div class="container">
          <form class="search-form" action="/search/results">
            <h2>Search Movie Database</h2>
            <br>
            <input name="keyword" id="keyword" placeholder="Jaws" autofocus required>
            <br>
            <br>
            <button class="btn btn-success btn-large">Search</button>
          </form>
        </div>
    </div>
    <!-- /.container -->
  </section>

</div>