<h1>Welcome to Memetube</h1>

<p>An "Internet meme" is a concept that spreads rapidly from person to person via the Internet, largely through Internet-based E-mailing, blogs, forums, imageboards like 4chan, social networking sites like Facebook or Twitter, instant messaging, and video hosting services like YouTube.</p>

<p>In 2013 Richard Dawkins characterized an Internet meme as one deliberately altered by human creativity, distinguished from Dawkins's original idea involving mutation by random change and a form of Darwinian selection.</p>

<a class="btn btn-large btn-success" href='/videos/new'>Add a Video Meme</a>