<h1>Hello World</h1>

<p>Just thinks it's text</p>
4 + 3

<p>erb brackets means it reads it as Ruby</p>
<%= 4 + 3 %>

<p>Write instance variables (i.e @groucho) in main.rb and call it in demo.erb</p>
<%= @groucho %>

<p>Images can be called too</p>

<img src="<%= @dog %>"

<% if @debug_mode %>
<h1>DEBUG MODE IS ON</h1>
<% else %>
<h1>Nothing unusual</h1>
<% end %>

<% 5.times do %>
<h2>Goldfish</h2>
<% end %>




