<h4>Select a game of your choice:</h4>

<a href="/magic-8-ball" class="btn btn-primary">Magic 8 Ball</a>

<a href="/secret-number" class="btn btn-primary">Secret Number</a>

<a href="/rock-paper-scissors" class="btn btn-primary">Rock Paper Scissors</a>