<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Games on Sinatra</title>
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
      <h1>Games on Sinatra</h1>
      <%= yield %>
  </div>
</body>

</html>