<h2>Rock, paper or scissors?</h2>

<a href="/rock-paper-scissors/match?throw=rock" class="rps-choice">Rock</a> |
<a href="/rock-paper-scissors/match?throw=paper" class="rps-choice">Paper</a> |
<a href="/rock-paper-scissors/match?throw=scissors" class="rps-choice">Scissors</a>

<h3>Would you like another game?</h3>

<div>
  <%= erb :games, :layout => false %>
</div>