<h2>The verdict!</h2>

<% if @secret_number == @user_choice %>
  <p>You win!</p>
<% else %>
  <p>You lose!</p>
<% end %>

<br>
<br>

<h3>Would you like another game?</h3>

<div>
  <%= erb :games, :layout => false %>
</div>