<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amy's Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1 class="blog-title">Amy's Blog</h1>
        <nav>
            <a class="menu-item" href="/">Blog</a>
            <a class="menu-item" href="/new">New post</a>
            <a class="menu-item" href="/about">About</a>
            <a class="menu-item" href="/contact">Contact</a>
        </nav>
    </header>
    <div class="container">
        <%=yield%>
    </div>
    <footer>
    </footer>
</body>
</html>