<h2>New post</h2>

<form action="/" method="post">
    <p>  
    <label for="title">Title</label>
    <input id="title" name="title">
    </p>
    <p>
    <label for="description">Description</label>
    <input id="description" name="description">
    </p>
    <p>
    <label for="full_text">Text</label>
    <input id="full_text" name="full_text">
    </p>
    <p>
    <label for="category">Category</label>
    <input id="category" name="category">
    </p>
    <p>
    <label for="image">Image</label>
    <input id="image" name="image" type="url">
    </p>
    <input type="submit" value="Create post">

</form>