<form action="/mountains" method="post">
  <label for="name">Name: </label>
  <input type="text" id="name" name="mountain[name]" autofocus>

  <label for="image">Image: </label>
  <input type="url" id="image" name="mountain[image]">

  <label for="height">Height: </label>
  <input type="number" id="height" name="mountain[height]">

  <label for="country">Country: </label>
  <input type="text" id="country" name="mountain[country]">

  <p><button>Make Mountain</button></p>
</form>