<form action="multiple">

        <p>
            <label for="title">Movie  </label>
            <input type="search" name="title" id="title" placeholder="Enter the movie title">
        </p>
    
    <button>Go get em...</button>    
</form>    

<div class="output">
    
    <p>
        <%= @error %>
    </p>

</div>
