<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>I need a favour...</title>

    <link rel="stylesheet" href="css/forms.css"> 
</head>
<body>
    <div class="container">
        <h2>Need a favour...?</h2>
        
        <%= yield %>
    </div>
</body>
</html>
