<h1>Hello world</h1>

4 + 3 

<br>

<%= 4 + 3 %> 

<br> 

<%= @groucho %> 

<br>

<img src="<%= @cat %>">

<br> 

The result is: <%= 4 + 3 %>   

<br>

<% if @debug_mode %>
    <h1>DUBUG MODE IS ON! GOOD LUCK BUDDY!</h1>
<% else %>
    <h1>Nothing unusual</h1>
<% end %>

<% 100.times do %>
<h2>fat cat</h2>
<% end %>












