<div class="movies">
    <div class="find">
        <form action="/movie/multiple">
            <label class="searchfield" for="title">Movie  </label>
            <input type="search" name="title" id="title" placeholder="Enter the movie title">
            <button>Search</button>    
        </form>    
    </div>

    <div class="output">
        <p><%= @director %></p>
        <p><%= @year %></p>
        <p><%= @imdbrating %></p>
    </div>
    <img class="poster" src="<%= @poster_image %>">
</div>ß