<form action="multiple">

        <label class="searchfield" for="title">Movie  </label>
        <input type="search" name="title" id="title" placeholder="Enter the movie title">
    
    <button>Go get em...</button>    
</form>    

<div class="error">
    <%= @error %> 
</div>
