<form action="multiple">
    <div class="input">
   
            <label class="searchfield" for="title">Search for</label>
            <input type="search" name="title" id="title" placeholder="Enter the movie title">
       
        <button>Search</button>    
    </div>  
</form>