<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Poster 3</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Get Movie Poster!</h1>
    </header>
    <div class="container">
        <%= yield %>
    </div>
     <footer>
        <p>By Amy Simmons</p>
    </footer
</body>
</html>