<form action="/results">
    <p>Search for another movie poster:</p>
    <p>
        <input type="search" name="title" id="title" placeholder="Movie title">
        <button>SUBMIT</button>   
    </p>
    <img class="poster" src= <%= @image_url%> >
</form>


