<div class="form-inline">
  <%= text_field_tag 'query', nil, :autofocus => true, :placeholder => 'Butterflies...', :class => 'form-control' %>
  <%= button_tag 'Search', :id => 'search', :class => 'btn btn-default' %>
  <%= button_tag 'Clear', :id => 'clear', :class => 'btn btn-default' %>
</div>

<div id="images"></div>