<form action="/oceans" method="post">
    
    <label for="name">Name: </label>
    <input id="name" name="ocean[name]" autofocus>
    
    <label for="max_depth">Maximum Depth: </label>
    <input type="number" id="max_depth" name="ocean[max_depth]">

    <label for="area">Area: </label>
    <input type="number" id="area" name="ocean[area]">

    <label for="volume">Volume: </label>
    <input type="number" id="volume" name="ocean[volume]">

    <label for="image">Image: </label>
    <input type="url" id="image" name="ocean[image]">

    <button>Add Ocean</button>

</form>