<form action="/movies/process">
    <p>
        <label for="query">Movie</label>
        <input type="search" name="query" id="query" placeholder="jaws" autofocus required>
    </p>

    <p>
        <label for="year">Year</label>
        <input type="number" name="year" id="year">
    </p>

    <button>submit</button>
</form>