body {
    font-family: Helvetica, Arial;
    background: #ffffff url("/images/The-Office-Series-1.jpg") no-repeat fixed bottom left;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 960px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.container ul {
        list-style-type: none;
}

.container a {
    display: block;
    text-align: center;
    font-size: 22px;
    padding: 10px;

}

nav {
    background-color: #fff;
    padding: 1em;
    border-radius: 0.2em;
}

nav a {
    text-decoration: none;
}

nav a.currentlyActive {
    text-decoration: underline;
}


.title {
    font-size: 60px;
    text-align: center;
    color: #000;
    margin: 0;
}

.menu_items {
    display: block;
    margin: auto;
    text-align: center;
    text-transform: lowercase;
    font-size: 40px;
    font-weight: bold;
 
}

.menu_item {
    padding: 20px;
    display: inline-block;
    color: #3D3E40;
}

.genres {
    display: block;
    margin: auto;
    text-align: center;
    text-transform: lowercase;
    font-size: 30px;
}

.genre {
    padding: 20px;
    padding-top: 0;
    display: inline-block;
    color: #767C7F;
}


.blurb {
    text-align: center;
    font-size: 22px;
}

.vid-title h2{
    font-weight: 600;
    font-size: 24px;
}
.vid-genre {
    font-size: 20px;
}
.vid-desc {
    font-size: 20px;
}
.edit {
    border: 3px solid #3D3E40;
    padding: 22px;
    margin: 5px;
    font-size: 18px;
    margin-top: 10px;
    display: inline-block;
}
.delete {
    border: 3px solid #3D3E40;
    padding: 22px;
    margin: 5px;
    font-size: 18px;
    margin-top: 10px;
    display: inline-block;

}

label, input {
    display: block;
    margin: auto;
}

label {
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
}

input {
    width: 400px;
    height:40px;
    font-size: 18px;
    text-align: center;

}

input[type="submit"] {
    border: 3px solid #3D3E40;
    padding: 20px;
    margin: 5px;
    font-size: 22px;
    margin-top: 10px;
    display: inline-block;
    background-color: rgba(215, 178, 206, 0.6);
    height: 80px;

}

.controls {
    width: 200px;
    text-align: center;
    margin: auto;
}

.show {
    background-color: rgba(215, 178, 206, 0.7);
    padding: 50px;
    margin: 50px;
}

.bold {
    font-weight: 600;
}