body {
    background-color: green;
}

.container {
    max-width: 960px;
    margin: auto;
}

nav {
    background-color: #fff;
    padding: 1em;
    border-radius: 0.2em;
}

nav ul {
    padding-left: 0;
}

nav a {
    text-decoration: none;
    color: ;
    display: ;
}
  