<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memetube</title>
    <link rel="stylesheet" href="/css/memes.css">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/memes">Memes</a></li>
                <li><a href="/memes/new">New meme</a></li>
            </ul>

            <ul>
                <li>Genres: </li>
                <% @genres.each do |group| %>
                    <li>
                        <a href="/memes/genre/<%= group["genre"] %>">
                            <%= group["genre"] %>
                        </a>
                    </li>
                <% end  %>
            </ul>
        </nav>
        <%= yield %>
    </div>
    
</body>
</html>