<h2>Upload a video</h2>

<form action="/memes" method="post">
    <label for="title">Title</label>
    <input id="title" name="title">

    <label for="description">Description</label>
    <input id="description" name="description">
  
    <label for="url">URL</label>
    <input id="url" type="url" name="url">
    
    <label for="genre">Genre</label>
    <input id="genre" name="genre">

    <input type="submit" value="Upload video">
</form>