<div class="search-form">  
    <form action="/options">
        <div class="label">
            <label for="keyword">Search for a film poster<span class="superscript">*</span></label>
            <input type="text" id="keyword" name="keyword" placeholder="Enter the film name" required>
            <button type="submit">view poster</button>
        </div>
    </form>
    <p class="disclaimer"><span class="superscript">*</span> Not all films have a poster available to view.</p>
</div> 