<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movies 3 - Son of Movies</title>
  <link rel="stylesheet" href="/css/movies3.css">
</head>
<body>
  <h1>Movies 3 - Son of Movies</h1>
  <%= yield %>
</body>
</html>