<h3>Search results:</h3>

<% if @search_results["Search"] %>

   <% @search_results["Search"].each do |v| %>

    <a href="/movie?imdb=<%= v["imdbID"] %>"><%= v["Title"] + ", " + v["Year"]%></a>
  <% end %>

<% else %>
  <h2>That film doesn't exist. Do you even cinema?</h2>
  <p>Try again?</p>

  <form action="/results">
      <p>
        <label for="search">Name: </label>
        <input name="search" id="search" placeholder="Movie name" required autofocus>
      </p>
      <button>Submit</button>
    </form>

<% end %>