<div class="btn-container">
  <a href="/games/magic_ball" class="btn">Magic 8-Ball</a>
  <a href="/games/secret_number" class="btn">Secret Number</a>
  <a href="/games/rock_paper_scissors" class="btn">Rock Paper Scissors</a>
</div>