<div class="form-results">
    <% if @number >= 1 %>
      <% if @controller == @number %>
          <p>Congratulations! You win!</p>
          <p>Play again!</p>
      <% else %>
          <p>Sorry, you lose! Try again!</p>
      <% end %>
    <% end %>
</div>
<div class="draw-cards">
    <h2>What number am I thinking of?</h2>
    <% @numbers.each do |number| %>
        <div class="cards"><a href="/games/secret_number/<%= number %>"><%= number %></a></div>
    <% end %>
</div>