<html>
    <head>
        <title>Programming Pair Helper</title>
        <link rel="stylesheet" href="/pair.css">
    </head>

    <body>
        <%= yield %> <!-- think of this as, go and do the ruby code here.-->
    </body>
</html>