<div class="stocks">
    <div class="find">
        <h1>Stock price lookup</h1>
        <form action="/stock/result">
            <input name="code" placeholder="Enter stock code" value="<%= params[:code] %>">
            <button class="button">Get Price</button>
        </form>
    </div>  
</div>