<h2>This is the about page</h2>

<div class="row large-4 columns">
  <div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore pariatur, nemo, quos quasi dignissimos eaque.</p>
  </div>
</div>
<div class="row large-4 columns">
  <div class="panel">
    <p>Neque, tempora veritatis quo, sunt repellat minima laudantium quibusdam accusamus illo modi magnam dignissimos quaerat.</p>
  </div>
</div>
<div class="row large-4 columns">
  <div class="panel">
    <p>Adipisci officiis beatae nobis aut soluta, neque deleniti magnam, molestias consequatur labore expedita a dicta.</p>
  </div>
</div>