<h2>This is the FAQ page</h2>

<div class="row large-6 columns">
  <div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur nulla temporibus animi soluta quod facilis ipsum nam corporis corrupti ipsam.</p>
  </div>
</div>
<div class="row large-6 columns">
  <div class="panel">
    <p>Quas saepe iste nostrum facere ullam quidem, tempora pariatur animi repudiandae fugiat velit placeat commodi hic distinctio necessitatibus tempore eaque.</p>
  </div>
</div>
<div class="row large-6 columns">
  <div class="panel">
    <p>Voluptas officia in fugiat hic eum atque, corporis eius quam deserunt temporibus ex consequuntur neque eaque quasi amet quaerat placeat.</p>
  </div>
</div>
<div class="row large-6 columns">
  <div class="panel">
    <p>Qui obcaecati reiciendis, assumenda. Optio quisquam, minus eaque repellat veniam, possimus incidunt consectetur itaque explicabo modi, cupiditate ipsam corrupti velit!</p>
  </div>
</div>
<div class="row large-6 columns">
  <div class="panel">
    <p>Facere nobis voluptatum numquam saepe iste consequuntur, a laborum animi aut necessitatibus. Quam facilis dolores porro, vitae doloremque libero, alias.</p>
  </div>
</div>
<div class="row large-6 columns">
  <div class="panel">
    <p>Illo natus nesciunt, magni porro voluptate inventore doloremque corrupti libero aperiam qui rerum, obcaecati voluptatibus molestiae provident assumenda. Sit, facilis.</p>
  </div>
</div>
<div class="row large-6 columns">
  <div class="panel">
    <p>Nobis dolorem minima odio animi aliquam, numquam eius harum, distinctio aliquid quasi provident illo, qui? Perspiciatis facilis dicta aliquam facere.</p>
  </div>
</div>
<div class="row large-6 columns">
  <div class="panel">
    <p>Officiis nesciunt excepturi similique alias nulla dolorum eveniet, eum doloribus, tenetur, id adipisci culpa eius ad temporibus voluptatum! Consequuntur, assumenda.</p>
  </div>
</div>
<div class="row large-6 columns">
  <div class="panel">
    <p>Cupiditate corrupti nostrum atque quam porro suscipit nemo dolore natus temporibus autem voluptate obcaecati voluptatibus mollitia quia doloremque, architecto iste.</p>
  </div>
</div>
<div class="row large-6 columns">
  <div class="panel">
    <p>Temporibus impedit, aperiam minus nobis, non est quidem facilis delectus debitis obcaecati sunt, illum, incidunt velit nemo officiis. Dolorum, at.</p>
  </div>
</div>
<div class="row large-6 columns">
  <div class="panel">
    <p>Necessitatibus, accusantium soluta! Illum deleniti, sunt beatae assumenda omnis in, ut, necessitatibus sequi voluptatem reprehenderit, nisi nesciunt. Nisi, ea, animi.</p>
  </div>
</div>
<div class="row large-6 columns">
  <div class="panel">
    <p>Rerum accusamus perferendis odit error, minus deserunt voluptate suscipit, rem, expedita aperiam iste molestiae quisquam, saepe eveniet recusandae fuga illo?</p>
  </div>
</div>