<h1></h1>

<div class="row">
  <div class="large-6 columns">
    <div class="panel">
      <h2 class="menu">Stock</h2>
      <a href="/stock"><img src="http://www.gstatic.com/hostedimg/c91784665df772dd_landing"></a>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="panel">
      <h2 class="menu">Movie</h2>
      <a href="/movie"><img src="http://www.toocool2betrue.com/wp-content/uploads/2012/08/Marilyn-Monroe-Movies.jpg"></a>
    </div>
  </div>
</div>
