<h2>New video</h2>

<form action="/youtube" method="post">
  <label for="name">Name:</label>
  <input id="name" name="name">

  <label for="genre">Genre:</label>
  <input id="genre" name="genre">

  <label for="video">Video:</label>
  <input id="video" name="video" type="url">

  <input type="submit" value="Create video">
</form>
