<!-- Content Section -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-heading">About Us</h1>
        <p class="section-paragraph">News Lab is an independent movement to enhance participation and scrutiny in our democracy. Updated continuously by citizens like you, News Lab is an instant reflection of what Australia cares about at any given time.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>