<!--organs-->
<form action="/options">
    <h2 class="no_movie"> "Go ahead, make my day"</h2>

    <p>
        <label for="movie_name">Enter Movie</label>
    </p>

    <p>
        <input type="text" id="movie_name" name="movie_name" placeholder="Bambi" required>
    </p>

    <p>
        <button>SHOW ME THE MONEY</button>
    </p>

</form>

