<h2> Did you mean...</h2>

    <% @multi_movie_data["Search"].each do |x| %>
    <ul>
        <li><a href="/result?movie_name=<%=x["Title"]%>"> <%=x["Title"]%> </a></li>
    </ul>
    <%end%>


<!-- if there is more than one option this is the page we end up on -->

    <!-- redirect to options  -->