<form action="/search">

    <label for="keyword">Keyword: </label>
    <input name="keyword" id="keyword" placeholder="Jaws" autofocus required>
    <button class="btn btn-success btn-large">Search</button>
    
</form>