<h1 class="basic-grey">Stock Lookup</h1>

<form action="/">
  <input name="stock" class="basic-grey" placeholder="Stock Code" value="<%= @input %>">
  <button class="basic-grey">Calculate</button>
</form>
<br>
<h1 class="basic-grey">The result is: <%= @quotes %></h1>


<p class="basic-grey">Capitalist®</p>
