html, body {
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.thumb {
  max-width: 10em;
}

.work {
  max-width: 100%;
}

.portrait {
  max-height: 75vh;
}

nav li {
  display: inline-block;
}

nav {
  text-align: right;
  background-color: #ccc;
  padding: 1em;
}

nav a {
  color: black;
}
