<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Info</title>
    <link rel="stylesheet" href="css/movie.css">
</head>
<body>
    

   <div class="container">
    <h1>OMDB</h1>
    <%= yield %>
   </div>


</body>
</html>