<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Info</title>
    <link rel="stylesheet" href="css/movie.css">
</head>
<body>
    

   <div class="container">
    <h1>Faryar's Movie Database</h1>
    <%= yield %>
   </div>

   <iframe width="420" style="display:none;" height="315" src="https://www.youtube.com/embed/CY_htwAmBOQ?autoplay=1" frameborder="0" allowfullscreen></iframe>


</body>
</html>