


<div class="header">What information would you like for your movie?</div>
    
    <form action="/search">
        <p>
            <label for="movie">Movie: </label>
            <input type="search" name="movie" id="movie" placeholder="i.e. Jaws" autofocus required>
        </p>
        <div class="major">
            <p>
                <label for="Year">Year</label>
                <input id="Year" value="Year" type="checkbox" name="info[]">
            </p>
            <p>
                <label for="Rated">Rated</label>
                <input id="Rated" value="Rated" type="checkbox" name="info[]">
            </p>
            <p>
                <label for="Released">Released</label>
                <input id="Released" value="Released" type="checkbox" name="info[]">
            </p>
            <p>
                <label for="Runtime">Runtime</label>
                <input id="Runtime" value="Runtime" type="checkbox" name="info[]">
            </p>
            <p>
                <label for="Genre">Genre</label>
                <input id="Genre" value="Genre" type="checkbox" name="info[]">
            </p>
            <p>
                <label for="Director">Director</label>
                <input id="Director" value="Director" type="checkbox" name="info[]">
            </p>
            <p>
                <label for="Actor">Actor</label>
                <input id="Actor" value="Actor" type="checkbox" name="info[]">
            </p>
            <p>
                <label for="Country">Country</label>
                <input id="Country" value="Country" type="checkbox" name="info[]">
            </p>
            <p>
                <label for="imdbRating">imdbRating</label>
                <input id="imdbRating" value="imdbRating" type="checkbox" name="info[]">
            </p>
            <p>
                <label for="Type">Type</label>
                <input id="Type" value="Type" type="checkbox" name="info[]">
            </p>
            <p>
                <label for="Writer">Writer</label>
                <input id="Writer" value="Writer" type="checkbox" name="info[]">
            </p>
            <p>
                <label for="Awards">Awards</label>
                <input id="Awards" value="Awards" type="checkbox" name="info[]">
            </p>
        </div>


    </form>


  <!--   <iframe width="420" style="display:none;" height="315" src="https://www.youtube.com/embed/CY_htwAmBOQ?autoplay=1" frameborder="0" allowfullscreen></iframe> -->

  

