<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie poster</title>
    <link rel="stylesheet" href="css/movie_poster2.css">
</head>
<body>
    <header>
        <a class="title" href="/"><h1>Get Movie Poster!</h1></a>
    </header>
    <div class="container">
        <%= yield %>
    </div>
    <footer>
        <p>By Amy Simmons</p>
    </footer
</body>
</html>