<form action="/options">
    <p>Sorry, there's no poster for that movie. Search again:</p>
    <p>
        <input type="search" name="title" id="title" placeholder="Movie title">
        <button>SUBMIT</button>
    </p>
</form>

