<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Poster Engine</title>
  <link rel="stylesheet" href="css/movie.css">
</head>

<header><a href="/">Movie Poster Engine</a></header>

<body>

    <div class="container">

        <%= yield %>
    
    </div>
</body>

<footer>
Powered by <a href="http://omdbapi.com/">Open Movie Database Api
</footer>

</html>

