<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Pick a game, any game!</h1>
        <a href="/magic_8_ball">Magic 8 Ball</a>
        <a href="/secret_number">Secret Number</a>
        <a href="/rock_paper_scissors">Rock Paper Scissors</a>
    </header>
    <div class="container">
        <%= yield %>
    </div>
</body>
</html>