<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <a class="title" href="/"><h1>Carnival Games</h1></a>
    </header>
    <div class="container">
        <a class="menu" href="/magic_8_ball">Magic 8 Ball</a>
        <a class="menu" href="/secret_number">Secret Number</a>
        <a class="menu" href="/rock_paper_scissors">Rock Paper Scissors</a>
        <div class="dot down"></div> 
        <div class="dot down"></div>
        <div class="dot down"></div> 
        <div class="dot down"></div>
        <div class="dot down"></div> 
        <div class="dot down"></div>
        <div class="dot down"></div> 
        <div class="dot down"></div>
        <div class="dot down"></div> 
        <div class="dot down"></div>
        <div class="dot down"></div>       
        <div class="dot down"></div>
        <div class="dot down"></div>
        <%= yield %>
    </div>
</body>
</html>