<form action="/magic_8_ball_answer"> 
    <p class="prompt">Ask the Magic 8 Ball a question</p>
    <p class="input">
        <!-- <label for="question">Q:</label> -->
        <input type="search" name="question" id="question" placeholder="Enter question">
    </p>
     <button>Submit</button>
</form>

<!-- if there's a get request to slash process this is what i want you to do  -->
<!-- the label for is connected to the input id -->