
<p>Computer choice was: <%=@computer_choice %></p>
<p>User choice was: <%=@user_choice %></p>

<% if @user_result == true %>
    <p>You win!</p>
<% elsif @user_result == false %>
    <p>You Lose!</p>
<% elsif @user_result == "Tie" %>
    <p>You tied!</p>
<% elsif @user_result == "Unknown" %>
    <p>Unknown!</p>
<% end %>
