<form action="/rock_paper_scissors_result">
    <p>
        Rock, paper or scissors?
        <label for="rock">Rock</label>
        <input id="rock" name="throw" type="radio" value=<%="Rock"%> >

        <label for="cigars">Paper</label>
        <input id="paper" name="throw" type="radio" value=<%="Paper"%> >

        <label for="scissors">Scissors</label>
        <input id="scissors" name="throw" type="radio" value=<%="Scissors"%> >
    </p>
    <button>Submit</button>
</form>

