
<form action="/secret_number_result"> 
    <p>Guess the secret number:</p>
    <p>(Hint: It's between 1 and 10)</p>
    <p>
        <label for="guess">Guess:</label>
        <input type="search" name="guess" id="guess" placeholder="Enter guess">
    </p>
     <button>Submit</button>
</form>