<div class="row">
    <h1 class="col-md-4 col-md-offset-4 text-center logo">Ocean Info</h1>
  </div>

<div class="row">
  <h2 class="col-md-8 col-md-offset-2 text-center home-heading">Want to learn a few minor facts about some oceans?</h2>
</div>

<div class="row">
  <div class="btn btn-primary hell-yes col-md-2 col-md-offset-5 text-center">
    <%= link_to 'Hell yes', oceans_path %>
  </div>
</div>
