<!DOCTYPE html>
<html>
<head>
  <title>MovieStock</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <li><a href="/home">Home</a></li>
  <li><a href="/stock">Stock LookUp</a></li>
  <li><a href="/movie">Movie LookUp</a></li>
</nav>

<div class="container">
  <%= yield %>
</div>

<footer>
  <li><a href="/about">About</a></li>
  <li><a href="/faq">FAQ</a></li>
</footer>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

</body>


</html>
