<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>New York City Subway</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="container">
            <h1>New York City Subway</h1>
            <div class="subway-lines">
                <div class="line-description">Manhattan &amp; Broadway Local</div>
                <div class="line-sym line-n">N</div>
                <div class="line-sym line-l">L</div>
                <div class="line-sym line-6">6</div>
            </div>
            <%= yield %>
        </div>
    </body>
</html>