<h1>Hello world! <span class="glyphicon glyphicon-thumbs-up"></span></h1>

<div class="row">
  <div class="col-md-8 main">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae quo officia, deserunt commodi nisi voluptates inventore sapiente. Veritatis adipisci dignissimos, ipsa fugit amet, impedit aliquam aperiam tenetur, nemo suscipit corporis.</p>

    <div class="row">
      <div class="col-md-1">bla</div>
      <div class="col-md-1">bla</div>
      <div class="col-md-1">bla</div>
      <div class="col-md-1">bla</div>
      <div class="col-md-1">bla</div>
    </div>
  </div>

  <div class="col-md-4 side">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate hic neque doloribus repudiandae eligendi ipsa quibusdam beatae sequi. Quaerat, quas alias ratione numquam tempore veniam repudiandae facilis quam illo hic.</p>
  </div>
</div>
