<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/magic8ballstyle.css">
    <title>Welcome to puppy school</title>
</head>
<body>
    <%=yield%>
</body>
</html>