<h1><%= @book.title %></h1>

<p>
  <%= link_to 'Edit Book', edit_book_path(@book) %>
  <%= link_to 'Delete Book', @book, :method => 'delete', :data => { :confirm => "Are you sure? "} %>
</p>

<p>
  <%= image_tag @book.image, :class => 'portrait' %>
  <ul>
    <li>Publisher: <% @book.publisher %></li>
    <li>Year: <% @book.year %></li>
  </ul>
</p>