 <form action="/movies/options">
  <div class="label">
    <label for="keyword">Search for a film poster</label>
    <input type="text" id="keyword" name="keyword" placeholder="Enter the film name" required>
    <button type="submit">view poster</button>
  </div>
</form>