@import url(http://fonts.googleapis.com/css?family=Nobile:400,400italic,700italic,700);

body {
  background-color: #E0E4CC;
  color: #F38630;
  font-family: 'Nobile', sans-serif;
}

.container {
  max-width: 960px;
  margin: auto;
}

label {
  border: 1px dashed white;
}
