<header>
  <h1>Flickr Search</h1>
  <div class="search">
    <%= text_field_tag 'query', nil, :autofocus => true, :placeholder => 'Enter your search' %>
    <%= button_tag 'Search', :id => 'search' %>
    <%= button_tag 'Clear results', :id => 'clear' %>
  </div>
</header>

<div class="container">
  <div id="images"></div>
</div>
