<div class="error-container">

    <a href="/"><h1 class="title">MTA 2.0</h1></a>
    
    <p>Hmm... one of the stops you entered didn't match up with one of the lines you entered. Try again!</p>
</div>