<h2>New Video</h2>

<form action="/videos" method="post">
    <label for="title">Title:</label>
    <input id="title" name="title">

    <label for="genre">Genre:</label>
    <input id="genre" name="genre">

    <label for="url">URL:</label>
    <input id="url" name="url" typle="url">

    <input type="submit" value="Create Meme">
</form>