<h1 class="games_home_title">Carnival Games</h1>
<a class="games-menu" href="/games/magic_8_ball">Magic 8 Ball</a>
<a class="games-menu" href="/games/secret_number">Secret Number</a>
<a class="games-menu" href="/games/rock_paper_scissors">Rock Paper Scissors</a>