<h1>Carnival Games</h1>
    <div class="container">
        <a class="menu" href="/games/magic_8_ball">Magic 8 Ball</a>
        <a class="menu" href="/games/secret_number">Secret Number</a>
        <a class="menu" href="/games/rock_paper_scissors">Rock Paper Scissors</a>
        <div class="dot down"></div> 
        <div class="dot down"></div>
        <div class="dot down"></div> 
        <div class="dot down"></div>
        <div class="dot down"></div> 
        <div class="dot down"></div>
        <div class="dot down"></div> 
        <div class="dot down"></div>
        <div class="dot down"></div> 
        <div class="dot down"></div>
        <div class="dot down"></div>       
        <div class="dot down"></div>
        <div class="dot down"></div>
    
    </div>