<form action="/games/magic_8_ball_answer"> 
    <p class="prompt">Ask the Magic 8 Ball a question</p>
    <p class="input">
        <!-- <label for="question">Q:</label> -->
        <input type="search" name="question" id="question" placeholder="Enter question">
    </p>
     <button>Submit</button>
</form>
