<form action="/games/secret_number_result"> 
    <p class="prompt narrow">Guess the secret number</p>
    <p class="hint">(Hint: It's between 1 and 10)</p>
    <p class="input">
        <!-- <label for="guess">Guess:</label> -->
        <input type="number" name="guess" id="guess" placeholder="Enter guess">
    </p>
     <button>Submit</button>
</form>