<div class="about">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consectetur temporibus quod cum, eos officiis officia, expedita quibusdam libero aspernatur tenetur! Vitae perspiciatis nihil, cumque voluptatem. Numquam ex fugiat beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore incidunt libero aperiam dignissimos rerum temporibus debitis voluptates minima et nisi obcaecati autem animi ut, laudantium, ab modi eaque dolor soluta.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt reprehenderit, temporibus vitae earum reiciendis sapiente, officiis incidunt, accusantium laboriosam quo labore similique suscipit maiores autem ut eos blanditiis enim quia!</p>
</div>