<h2 class='post-list'>New post</h2>

<form action="/posts" method="post">
  <p>
    <label for="title">Title:</label>
  </p>
  <p>
    <input type="text" id="title" name="title" autofocus>
  </p>
  <p>
    <label for="body">Body:</label>
  </p>
  <p>
    <textarea id="body" name="body"></textarea>
  </p>
  <p>
    <label for="image">Image:</label>
  </p>
  <p>
    <input type="url" id="image" name="image">
  </p>
  <input type="submit" value="Create post">
</form>