<h1>Movie poster search</h1>

<form action="/movie/options">
    <h2>Search for a movie poster:</h2>
    <p>
        <input type="search" name="title" id="title" placeholder="Movie title">
        <button>SUBMIT</button>
    </p>
</form>