<h1 class="movie_home_title">Movie poster search</h1>

<form action="/movie/options">
    <p>Search for a movie poster:</p>
    <p>
        <input type="search" name="title" id="title" placeholder="Movie title">
        <button>SUBMIT</button>
    </p>
</form>