<form action="/movie/options">
    <p>Sorry, there's no movie with that title. Search again:</p>
    <p>
        <input type="search" name="title" id="title" placeholder="Movie title">
        <button>SUBMIT</button>
    </p>
</form>

