<p>Which movie are you searching for?</p>

<div><%= @title_results %>

<ul>
<% @movie_options_array.each do |movie| %>
    <li><a href="/movie/poster?id=<%= movie['imdbID']%>"><%= movie['Title']%>, <%= movie["Year"]%></a></li>
<% end %>
</ul>

</div>

<form action="/movie/options">
    <p>Not what you're looking for? Search again:</p>
    <p>
        <input type="search" name="title" id="title" placeholder="Movie title">
        <button>SUBMIT</button>
    </p>
</form>