<form action="/poster">
    <p>
        <label for="title">Sorry, there's no poster for that movie. Search again:</label>
        <input type="search" name="title" id="title" placeholder="Annie">
        <button>SUBMIT</button>
    </p>
</form>
