<form action="/poster">
    <p>
        <label for="title">Search for a movie poster:</label>
        <input type="search" name="title" id="title" placeholder="Little Miss Sunshine">
        <button>SUBMIT</button>
    </p>
</form>