<form action="/poster">
    <p>
        <label for="title">Search for another movie poster:</label>
        <input type="search" name="title" id="title" placeholder="Little Miss Sunshine">
        <button>SUBMIT</button>   
    </p>
    <img class="poster" src= <%= @image_url%> >
</form>


