<html>
    <head>
        <title>Pair Programming Bot</title>
        <link rel="stylesheet" href="/pair.css">
    </head>
    <body>
        <video autoplay  poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" loop>
          <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
            <source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm">
            <source src="//demosthenes.info/assets/videos/polina.mp4" type="video/mp4">
        </video>

        <div id="pair"><%= yield %></div>
    </body>
</html>
