

<div id="selection">
  <h1>MTA Journey Planner</h1>
  <form action="directions">
    <p>
      <label for="user_line">Start: </label>
      <select name="user_line" id="user_line">
        <optgroup label="Line N">
          <option value="N-Times Square">Times Square</option>
          <option value="N-34th">34th</option>
          <option value="N-28th">28th</option>
          <option value="N-23rd">23rd</option>
          <option value="N-Union Square">Union Square</option>
          <option value="N-3rd">3rd</option>
          <option value="N-1st">1st</option>
        </optgroup>
        <optgroup label="Line L">
          <option value="L-8th">8th</option>
          <option value="L-6th">6th</option>
          <option value="L-Union Square">Union Square</option>
          <option value="L-3rd">3rd</option>
          <option value="L-1st">1st</option>
        </optgroup>
        <optgroup label="Line 6">
          <option value="6-Grand Central">Grand Central</option>
          <option value="6-33rd">33rd</option>
          <option value="6-28th">28th</option>
          <option value="6-23rd">23rd</option>
          <option value="6-Union Square">Union Square</option>
          <option value="6-Astor Place">Astor Place</option>
          </optgroup>
      </select>
    </p>

    <p>
      <label for="end_line">Finish: </label>
      <select name="end_line" id="end_line">
        <optgroup label="Line N">
          <option value="N-Times Square">Times Square</option>
          <option value="N-34th">34th</option>
          <option value="N-28th">28th</option>
          <option value="N-23rd">23rd</option>
          <option value="N-Union Square">Union Square</option>
          <option value="N-3rd">3rd</option>
          <option value="N-1st">1st</option>
        </optgroup>
        <optgroup label="Line L">
          <option value="L-8th">8th</option>
          <option value="L-6th">6th</option>
          <option value="L-Union Square">Union Square</option>
          <option value="L-3rd">3rd</option>
          <option value="L-1st">1st</option>
        </optgroup>
        <optgroup label="Line 6">
          <option value="6-Grand Central">Grand Central</option>
          <option value="6-33rd">33rd</option>
          <option value="6-28th">28th</option>
          <option value="6-23rd">23rd</option>
          <option value="6-Union Square">Union Square</option>
          <option value="6-Astor Place">Astor Place</option>
        </optgroup>
      </select>
    </p>

    <button>Plan Route</button>
  </form>
</div>