<html>
    <head>
        <title>Stock Lab</title>
        <!-- <link rel="stylesheet" href="/stock.css" -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>

    <body>
        <%= yield %>
    </body>
</html>

