.container {
  max-width: 960px;
  border: 1px solid black;
  margin: auto;
}

header h1 {
  color: green;
}

article {
  width: 79%; /* relative width */
  display: inline-block;
}

aside {
  width: 19%;
  display: inline-block;
}

.outer {
  width: 50%;
  margin: auto;
  padding: 15px;
  margin-left: 146px;
}

.inner {
  background-color: lime;
  padding: 10px;
  border-radius: 10px;
}



