<h1>Please choose which game do you want to play?</h1>


<ul>
    <li><a href="8_ball">8_ball</a></li>

    <li><a href="/games/rock_paper_scissors/">rps</a></li>

    <li><a href="secret_number">secret_number</a></li>
</ul>