<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sinatra games</title>
    <link rel="stylesheet" href="/css/games.css">
</head>
<body>
    <div class="container">

        <div>
            <%= yield %>
        </div>
    
    </div>
</body>
</html>
