#mirror-cat {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/*body {
  background-image: url(https://lh5.googleusercontent.com/-sO5soekHO_Y/TfLlpm6cwTI/AAAAAAAAs_8/UvO6Af66NuY/Psychedelic-Cat.gif);
}*/