html, body {
  margin: 0;
}

.container {
  max-width: 960px;
  margin: auto;
}

.thumb {
  max-width: 10em;
  border-radius: 100%;
}

.thumb_works {
  max-width: 10em;
}

.work {
  max-width: 100%;
}

.portrait {
  max-height: 75vh;
  border-radius: 1em;
}

nav li {
  display: inline-block;
}

nav {
  text-align: right;
  background-color: #ccc;
  padding: 1em;
}

nav a {
  color: black;
}

.form {
  padding: 10px;
  display: table-caption;
}

.button_to {
  padding-top: 10px;
  padding-bottom: 10px;
}
