<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memetube</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Memetube</h1>
            <nav>
                <ul class="main-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/memetube">View Videos</a></li>
                    <li><a href="/memetube/new">Add Videos</a></li>
                </ul>
                <ul class="sub-nav">
                    <% @genres.each do |style| %>
                    <li>
                        <a href="/memetube/genre/<%= style["genre"] %>"><%= style["genre"] %></a>
                    </li>
                    <% end %>
                </ul>
            </nav>
        </header>
        <div class="content-container">
             <%= yield %>
        </div>
    </div>
</body>
</html>