<h2>New Blog Entry</h2>

<form action="/entries" method="post">
  <p>
    <label for="title">Title:</label>
    <input id="title" name="title">
  </p>

  <p><label for="body">Blog text:</label></p>
  <p><textarea name="body" id="body"></textarea></p>

  <button>Submit</button>
</form>