<form action="/oceans" method="post">
  <label for="name">Name: </label>
  <input id="name" name="ocean[name]" autofocus required>
  
  <label for="image">Image: </label>
  <input type="url" id="image" name="ocean[image]">
  
  <label for="area">Area: </label>
  <input type="number" id="area" name="ocean[area]">
  
  <label for="average_depth">Average Depth: </label>
  <input type="number" id="average_depth" name="ocean[average_depth]">
  
  <label for="deepest_point">Deepest Point: </label>
  <input type="number" id="deepest_point" name="ocean[deepest_point]">
  
  <button>Ocean me!</button>
</form>