<div id="container">
  <div id="info_box">

  <!-- display the relevant poster for the search query here! -->
<!--   go into search result for the query string
  find the one the user chose
  access the information from the "Search" results array (using index?)
  throw up the relevant info -->

  <img src="<%= @movie_data["Poster"] %>">
  <p><b><em><%= @movie_data["Title"] %></em></b>, <%= @movie_data["Year"] %>, <%= @movie_data["Director"] %></p>
  </div>
</div>

