<!-- These two things are doing the same thing -->
<a href="/">Home</a>
<%= link_to("Home", root_path) %>

<%= link_to("Text", "http://localhost:3000" + text_path) %>

<%= button_to("Home", root_path) %>

