<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MTALAB II</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<div class="container">
            <header>
                <span>MTALAB II</span>
                <h1>Plan your route</h1>
            </header>
</div>

<body>

    <%= yield %>
    
</body>

<footer>
<h3>List of Stops</h3>
<p>The N line: Times Square, 34th, 28th, 23rd, Union Square, and 8th</p>
<p>The L line: 8th, 6th, Union Square, 3rd, and 1st</p>
<p>The 6 line: Grand Central, 33rd, 28th, 23rd, Union Square, and Astor Place.</p>
</footer>

</html>