<h1>Please make your choice: </h1>


<a href='/games/rock_paper_scissors/rock'>ROCK</a>
<a href='/games/rock_paper_scissors/paper'>PAPER</a>
<a href='/games/rock_paper_scissors/scissors'>SCISSORS</a>



