<div id="blurb">
  <h1>Welcome to <em>memetube</em></h1>
  <br>
  <p>Witty and engaging copy. Witty and engaging copy. Witty and engaging copy. Witty and engaging copy. Witty and engaging copy. Witty and engaging copy. Witty and engaging copy. Witty and engaging copy. Witty and engaging copy. Witty and engaging copy. Witty and engaging copy. Witty and engaging copy.</p>
  <br>
  <h3>What others are saying:</h3>
  <br>
  <p>"I like watching videos. Sometime I just don't know where to store them. Here is <em>okay</em>" <em>Some guy</em></p>
  <br>
  <p>"Copy was witty and engaging" <em>Everyone, 2015</em></p>
</div>