<h2><%= @get_answer %></h2>

<br>

<form action="/prediction">
  <input name="question" placeholder="Question..." autofocus required>
  <button>Predict</button>
</form>

<br>
<br>

<a href="/" class="main-menu">Main Menu</a>

<br>
<br>



