<!-- this is what the user will see as a homepage -->
<!-- needs to show the choices for various games as links -->

<h1>Please choose a game:</h1>

<a href="/8_ball" class="menu-choice">Magic 8 Ball</a>
<a href="/secret_number" class="menu-choice">Secret Number</a>
<a href="/rock_paper_scissors" class="menu-choice">Rock, Paper, Scissors</a>
