<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Carnies</title>
  <link rel="stylesheet" href="css/carnies.css">
</head>

<body>
  <div id="container">
    <div id="center-container">
      <%= yield %>
    </div>
  </div>
</body>
</html>