<h2>Rock, paper or scissors?</h2>

<a href="/match?throw=rock" class="rps-choice">Rock</a>
<a href="/match?throw=paper" class="rps-choice">Paper</a>
<a href="/match?throw=scissors" class="rps-choice">Scissors</a>

<br>
<br>

