<h2>Guess the secret number:</h2>

<div id="num-list">
  <% 10.times do |i| %>
    <div class="number">
      <a href="<%= "/guess?n=" + ((i+1).to_s) %>"><%= i + 1 %></a>
    </div>
  <% end %>
</div>