<h1>Stock Search</h1>

<form action="/stocks/search">

  <div class="rows">
    <input class="input-medium","text-center" name="symbol" placeholder="Stock Symbol" value"<%= params[:symbol] %>">
  </div>

  <div
    <ul class="buttons">
      <button class="button button-primary">Get Quote</button>
    </ul>
  </div>

</form>