<h1>Stock Quotes for <%= @symbol %></h1>

<p class="text"><strong>Search:</strong> <%= @symbol %></p>
<p class="text"><strong>Last traded at:</strong> <%= @quote %></p>

<p>Would you like to search again?</p>

<a class="button button-primary" href="/stocks">Search Stocks</a>