body {
    background-color: pink;
    color: white;
}

li {
    font-size: 35px;

}

a {
    
    color: rgb(207, 118, 244);
    text-decoration: none;
    font-size: 30px;
    margin: 1em;
}

span {
    color: rgb(12, 161, 122);
}