<h1>Movie Search</h1>

<form action="/movies/search">

  <div class="rows">
    <input name="keyword" id="keyword" placeholder="Jaws" autofocus required>
  </div>

  <div
    <ul class="buttons">
      <button class="button button-primary">Search</button>
    </ul>
  </div>

</form>