<%= erb :secret_number, :layout => false %>

<div class="correct_guess">
<h2>Woo!!! You guessed correctly!!!</h2>
<h2><br>Maybe you should to the lotto using the secret number <%= @generated_number %>.</br></h2>
</div>

