<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games on Sinatra</title>
    <link rel="stylesheet" href="style.css">
</head>

<header>The Carnie's Finger</header>

<nav>  
    <a href="/secret_number">Secret Number</a>
    <a href="/magic">Magic 8 Ball</a>
    <a href="/rock">Rock Paper Scissors</a>   
</nav>

<body>

    <%= yield %>
    
</body>

<footer>
Powered by Joel's Inner Child of the 80s
</footer>

</html>