<h1>Magic Irish Life Coach</h1>

<div id="input">
    <form action="/magic">

        <label for="magic_question">Wha' ye wanna know? </label>
        <input type="text" id="magic_question" required>
        <button>Ask Da 8 Ball</button>


        <div class="magic">
        <p>"<%= @random_answer %>"</p>

    </form>
</div>