<h1>Paper > Rock > Scissors > Paper</h1>

<h2>Choose Your Weapon</h2>
  
<div class="rock_paper_scissors">

<form action="/rock_guess">

    <label for="user_rock">Rock :
    <input id="rock" name="rock" type="radio" value="rock"> 
    <img src="http://th05.deviantart.net/fs70/PRE/i/2013/012/c/6/rock_01_png___by_alzstock-d5r84up.png" width="200px">
    </label>

    <label for="user_paper">Paper :
    <input id="paper" name="paper" type="radio" value="paper"> 
    <img src="http://a4.mzstatic.com/us/r30/Purple2/v4/40/2b/82/402b8233-9092-465b-1eb6-2bdf9962a8d5/toilet-paper.png" width="200px">
    </label>

    <label for="user_scissors">Scissors :
    <input id="scissors" name="scissors" type="radio" value="scissors"> 
    <img src="http://images1.fanpop.com/images/photos/2300000/Scissor-Sisters-scissor-sisters-2338980-1280-1024.jpg" width="200px">
    </label>

    <button>That's My Final Choice</button>
</form>

</div>