<h3>What's the Secret Number!?!</h3>

<form action="/secret_number_result">
    <label for="range">Range from 1-10
    <input type="number" name="range" id="range" min="0" max="10" step="1"></label>
    <input type="submit" class="type" class="Go">
</form>

</p>
