<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BLIF = Blog + GIFs</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <div class="container">
      <img class="avatar" src="https://ga-dash.s3.amazonaws.com/production/assets/tumblr-template-content/gene-128-bc5e5f64fb1c6ecfb633a75687cf1e53.png">
      <h1><a href="/">BLIF</a></h1>
      <h2>Blogging using GIFs</h2>
    </div>
  </header>

  <div class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/posts">All Blifs</a></li>
        <li><a href="/new">New Blif</a></li>
  </div>

  <div class="post">
    <p class="text">
      <%= yield %>
    </p>
  </div>

</body>

  <footer>Powered by WDI WEEKIII: A Blog using GIFs - I <3 GIFs</footer>

</html>