<h3>Add a GIF Blog Post</h3>

<form action="/posts" method="post">
  <p><label for="title">Title: </label>
  <!-- <input id="title" name="title" autofocus> -->
  <textarea name="title" id="title" placeholder="When you..." cols="50" rows="1" resize: vertical autofocus></textarea></p>
  
  <p><label for="url">GIF: </label>
  <input id="url" name="url"></p>

  <input type="submit" value="BLIF AWAY">
</form>