  <section id="about" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>Rock, Paper, Scissors!</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
        </div>
      </div>
      </div>
    </div>


<form action="/rockanswer">
  <p>
    <label for="rock">Rock</label>
    <input id="rock" value="rock" type="radio" name="info" autofocus>
  </p>
  <p>
    <label for="paper">Paper</label>
    <input id="paper" value="paper" type="radio" name="info">
  </p>
  <p>
    <label for="scissors">Scissors</label>
    <input id="scissors" value="scissors" type="radio" name="info">
  </p>  

  <button>Submit!</button>
</form>


