  <section id="about" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>Guess the secret number!</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
        </div>
      </div>
      </div>
    </div>


<form action="/secretanswer">
<p>
    <label for="1">1</label>
    <input id="1" value="1" type="radio" name="info" autofocus >
</p>
<p>
    <label for="2">2</label>
    <input id="2" value="2" type="radio" name="info">
</p>
<p>
    <label for="3">3</label>
    <input id="3" value="3" type="radio" name="info">
</p>
<p>
    <label for="4">4</label>
    <input id="4" value="4" type="radio" name="info">
</p>
<p>
    <label for="5">5</label>
    <input id="5" value="5" type="radio" name="info">
</p>
<p>
    <label for="6">6</label>
    <input id="6" value="6" type="radio" name="info">
</p>
<p>
    <label for="7">7</label>
    <input id="7" value="7" type="radio" name="info">
</p>
<p>
    <label for="8">8</label>
    <input id="8" value="8" type="radio" name="info">
</p>
<p>
    <label for="9">9</label>
    <input id="9" value="9" type="radio" name="info">
</p>
<p>
    <label for="10">10</label>
    <input id="10" value="10" type="radio" name="info">
</p>

<button>Submit!</button>
</form>






