<form action="ball_advice">
    <div class="input">
        <p>
            <label for="title">Your question?</label>
            <input type="search" name="ball_question" id="ball_question" placeholder="Ask something...">
        </p>
        <button>Get advice</button>    
    </div>  
</form>

