<!DOCTYPE html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Butcherman' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
   
    <title>Carnie Games!</title>

    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    <div class="container">
        <h2>Feeling lucky...?</h2>
        
        <%= yield %>
    </div>
</body>
</html>