<form action="number_result">
    <div class="input">
        <p>
            <label for="title">I'm thinking of a number between 1 and 10...</label>
            <input type="number" width='3em' min='1' max='10' name="number_guess" id="number_guess" placeholder="Guess 1-10" autofocus required>
        </p>
        <button>Am I correct?</button> 
    </div>  
</form>