<p>
    Which game would you like to play?
</p>

<div class="games">
<a href="/ball_question">Magic 8 Ball</a>
<a href="/secret_number">Secret Number</a>
<a href="/throw">Rock, Paper, Scissors</a>
</div>

