<form action="rock_paper_scissors">
    <div class="input">
        <p>
            <label for="title">Choose your weapon!</label>
            <input type="radio" name="throw" id="throw" label="Rock" value="rock">Rock
            <input type="radio" name="throw" id="throw" label="Paper" value="paper">Paper
            <input type="radio" name="throw" id="throw" label="Scissors" value="scissors">Scissors
        </p>
        <button>BATTLE!!</button>    
    </div>  
</form>
