<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carnie Games</title>
</head>
<body>
    <div class="container">
        <%= yield %>
        <p><a href="/">Back to main menu</a></p>
    </div>
</body>
</html>