<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carnie Games</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <%= yield %>
        <p><a href="/" class="back">Back to main menu</a></p>
    </div>
</body>
</html>