<h1>Magic Eight Ball</h1>

<form action='/eight_ball_result'>
    <h2>What do you wish to ask the Magic Eight Ball?</h2>
    <p>
        <label for="question">Your Question</label>
        <input name="question" id="question" placeholder="Will I become a millionaire?" autofocus required>
    </p>

    <button>Shake the Magic Eight Ball</button>
</form>