<h1 class="menu_title">Which game would you like to play?</h1>

<div class="menu_choices">
    <p><a href="/magic_eight_ball">Magic 8 Ball</a></p>
    <p><a href="/secret_number">Secret Number</a></p>
    <p><a href="/rock_paper_scissors">Rock Paper Scissors</a></p>
</div>