<h1>Step right up! What game do you want to play?</h1>

<a href="/magic_eight_ball">Magic 8 Ball</a>

<a href="/secret_number">Secret Number</a>

<a href="/rock_paper_scissors">Rock Paper Scissors</a>