<h1>Rock Paper Scissors</h1>

<h2>Select one of the following</h2>

<a href="/rock_paper_scissors_results?hand=rock"><img src="images/rock.jpg" alt="rock"></a>

<a href="/rock_paper_scissors_results?hand=paper"><img src="images/paper.jpg" alt="paper"></a>

<a href="/rock_paper_scissors_results?hand=scissors"><img src="images/scissors.jpg" alt="scissors"></a>

