<h1>Rock Paper Scissors</h1>

<h2>Select one of the following</h2>

<p><a href="/rock_paper_scissors_results?hand=rock">Rock</a></p>

<p><a href="/rock_paper_scissors_results?hand=paper">Paper</a></p>

<p><a href="/rock_paper_scissors_results?hand=scissors">Scissors</a></p>