<h1>Secret Number</h1>

<h2>I am thinking of a number between 1 and 10. Can you guess what it is?</h2>

<form action='/secret_number_result'>
    <p>
        <label for="guess">Your guess</label>
        <input type="number" name="guess" id="guess" autofocus required>
    </p>

    <button>Submit</button>
</form>